<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
    <h1 class="site-title">{{email}}</h1>
  
    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
    
    <ul class="nav nav-pills flex-column sidebar-nav">
      <li class="nav-item"><a class="nav-link " routerLink="/dashboard"><em class="fa fa-dashboard"></em> Dashboard <span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/newproduct"><em class="fa fa-calendar-o"></em> Add new product</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/products"><em class="fa fa-list-ul"></em> Productlist</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/productcategory"><em class="fa fa-cubes"></em> Productcategories</a></li>

    </ul>

    
    
    <a  (click)="logout()" class="logout-button"><em class="fa fa-power-off"></em> Signout</a></nav>