<div class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">

  <app-navbar></app-navbar>

  <header class="page-header row justify-center">
    <div class="col-md-6 col-lg-8">
      <h1 class="float-left text-center text-md-left">Productcategories</h1>
    </div>



    <div class="clear"></div>
  </header>

  <div class="col-sm-12">

    <p-paginator (onPageChange)="paginate($event)" [rows]="itemsperpage" [totalRecords]="productcount" [rowsPerPageOptions]="[5,10,25,50]"></p-paginator>

    <p-table  (onEditComplete)="edit($event)" [value]="productcategories" selectionMode="single" [(selection)]="selectedcategory" selectionMode="single" >
      <ng-template pTemplate="header">
          <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Remove</th>

          </tr>
      </ng-template>
      <ng-template  pTemplate="body" let-item  let-rowData>
          <tr>
              <td >{{item.productCategoryID}}</td>
              <td [pEditableColumn]="rowData" [pEditableColumnField]="'item'">
                  <p-cellEditor >
                      <ng-template pTemplate="input">
                          <input  type="text" [(ngModel)]="item.productCategoryTitle" required>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{item.productCategoryTitle}}
                      </ng-template>
                  </p-cellEditor>
              </td>
              <td> <p-button class="ui-button-danger" (click)="delete(item)" icon="fa fa-fw fa-trash"></p-button>
              </td>
          </tr>
      </ng-template>
  </p-table> 
  </div>

</div>