<div class="  col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">

  <app-navbar></app-navbar>

  <div class="col-sm-12">

    <section *ngIf="product" class="row">

      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="product.base64" alt="">

        <div class="card-body">

            <h5 class="card-title"> {{product?.productTitle}} </h5>


          <form [formGroup]="form" class="form-horizontal">
            <fieldset>



              <!-- Text input-->
              <div class="form-group">
                <label class="control-label" for="productname">Productname</label>
                <div class="">
                  <input id="productname" formControlName="productname" name="productname" type="text" placeholder="" class="form-control input-md"
                    required="">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="control-label" for="productprice">Productprice</label>
                <div>
                  <input id="price" formControlName="price" name="price" type="text" placeholder="" class="form-control input-md">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="control-label" for="availeblefrom">Available till</label>
                <div class="">
                  <p-calendar showTime="true" formControlName="date"></p-calendar>

                </div>
              </div>



              <!-- Textarea -->
              <div class="form-group">
                <label class="control-label" for="description">Description</label>
                <div>
                  <textarea class="form-control" id="description" formControlName="description" name="description"></textarea>
                </div>
              </div>

              <p-chips  (onAdd)='addCat($event)' formControlName="productcategories">
                <ng-template let-item pTemplate="item">
                  {{item.productCategoryTitle}}
                  <i class="fa fa-close"></i>
                </ng-template>
              </p-chips>

            </fieldset>
          </form>

          <div class="row mt-5">

              <button pButton type="button" (click)="back()" label="back"></button>
              <button pButton type="button" [disabled]="!changed" (click)="update()" label="update"  class=" ml-2  ui-button-info"></button>
              <button pButton type="button" (click)="delete()" label="delete"  class=" ml-2 ui-button-danger"></button>


            </div>
        </div>
      </div>



    </section>





  </div>

</div>
