<div class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">

  <app-navbar></app-navbar>

  <header class="page-header row justify-center">
    <div class="col-md-6 col-lg-8">
      <h1 class="float-left text-center text-md-left">Dashboard</h1>
    </div>

   

    <div class="clear"></div>
  </header>

  <div class="col-sm-12">
    <section class="row">
      <div class="col-md-12 col-lg-8">
        <div class="jumbotron">
          <h1 class="mb-4">Hello, world!</h1>

          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content
            or information.</p>

          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

          <p class="lead">
            <a class="btn btn-primary btn-lg mt-2" href="#" role="button">Learn more</a>
          </p>
        </div>


      </div>

      <div class="col-md-12 col-lg-4">
        <div class="card mb-4">
          <div class="card-block">
            <h3 class="card-title">Top Users</h3>

            <h6 class="card-subtitle mb-2 text-muted">Most active hel week</h6>

            <div class="user-progress justify-center">
              <div class="col-sm-3 col-md-2" style="padding: 0;">
                <img src="images/profile-pic.jpg" alt="profile photo" class="circle profile-photo" style="width: 100%; max-width: 100px;">
              </div>

              <div class="col-sm-6 col-md-8">
                <h6 class="pt-1">Username 1</h6>

                <div class="progress progress-custom">
                  <div class="progress-bar bg-primary" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="col-sm-3 col-md-2">
                <div class="progress-label">75%</div>
              </div>
            </div>

            <div class="user-progress justify-center">
              <div class="col-sm-3 col-md-2" style="padding: 0;">
                <img src="images/profile-pic.jpg" alt="profile photo" class="circle profile-photo" style="width: 100%; max-width: 100px;">
              </div>

              <div class="col-sm-6 col-md-8">
                <h6 class="pt-1">Username 2</h6>

                <div class="progress progress-custom">
                  <div class="progress-bar bg-primary" style="width: 50%" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="col-sm-3 col-md-2">
                <div class="progress-label">50%</div>
              </div>
            </div>

            <div class="user-progress justify-center">
              <div class="col-sm-3 col-md-2" style="padding: 0;">
                <img src="images/profile-pic.jpg" alt="profile photo" class="circle profile-photo" style="width: 100%; max-width: 100px;">
              </div>

              <div class="col-sm-6 col-md-8">
                <h6 class="pt-1">Username 3</h6>

                <div class="progress progress-custom">
                  <div class="progress-bar bg-primary" style="width: 25%" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="col-sm-3 col-md-2">
                <div class="progress-label">25%</div>
              </div>
            </div>

            <div class="divider"></div>

            <div id="calendar"></div>

            <div class="divider"></div>

          </div>
        </div>
      </div>
    </section>
    <section class="row">
      <div class="col-12 mt-1 mb-4">Template by
        <a href="https://www.medialoot.com">Medialoot</a>
      </div>
    </section>
  </div>

</div>