<div class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">

  <app-navbar></app-navbar>

  <header class="page-header row justify-center">
    <div class="col-md-6 col-lg-8">
      <h1 class="float-left text-center text-md-left">Dashboard</h1>
    </div>



    <div class="clear"></div>
  </header>

  <div class="col-sm-12">
    <div class="container">
      <div class="row">
          <p-paginator (onPageChange)="paginate($event)" [rows]="itemsperpage" [totalRecords]="productcount" [rowsPerPageOptions]="[5,10,25,50]"></p-paginator>

      </div>
  </div>
  <div class="container">
      <div class="row">

          <div class="col">
              <div class="row">
                  <p-progressSpinner *ngIf="loading"  strokeWidth=3></p-progressSpinner>

                  <div *ngFor="let item of products"  class="col-12 col-md-6 col-lg-4">
                      <div class="card">
                          <img class="card-img-top" [src]="item.base64" alt="Card image cap">
                          <div class="card-body">
                              <h4 class="card-title"><a href="product.html" title="View Product">{{item.productTitle}}</a></h4>
                              <p class="card-text">{{item.description}}</p>
                              <div class="row">

                                  <div class="col">
                                      <a [routerLink]="['../product', item.productID]" class="btn btn-success btn-block">Open product</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>

      </div>
  </div>

  </div>

</div>
