<div class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">

  <app-navbar></app-navbar>

  <header class="page-header row justify-center">
    <div class="col-md-6 col-lg-8">
      <h1 class="float-left text-center text-md-left">All my products</h1>
    </div>

    <div class="clear"></div>
  </header>

  <div class="col-sm-12">

    <section class="row">
      <div class="col-md-12 col-lg-12">
        <p-progressBar *ngIf="loading"  mode="indeterminate"></p-progressBar>
        <p-paginator (onPageChange)="paginate($event)" [rows]="5" [totalRecords]="productcount" [rowsPerPageOptions]="[5,10,25,50]"></p-paginator>
        <p-table  (onRowSelect)="onRowSelect($event)" selectionMode="single" [responsive]="true" [value]="products">
          <ng-template pTemplate="header">
            <tr >
              <th>ID</th>
              <th>Title</th>
              <th>Price</th>
              <th>Productcategories</th>
              <th>Edit</th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr >
              <td>{{item.productID}}</td>
              <td>{{item.productTitle}}</td>
              <td>{{item.price}}</td>
              <td> <div class="chip" *ngFor="let productcat of item.productCategories"> {{productcat.productCategoryTitle}}</div> </td>
              <td> <p-button [routerLink]="['../product', item.productID]"  icon="fa fa-fw fa-angle-right"></p-button>
              </td>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </section>

  </div>

</div>